body{

    font-family: Arial, Helvetica, sans-serif;

    padding: 0px;
    margin: 0px;
    border: 0px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    height: 100vh;
    

}
.cuerpo{
    background-color: #FDF5E6;
    height: 90vh;
    max-width: 500px;
    min-width: 300px;

    border: solid 1px black;
    border-radius: 30px;

    margin: 0px 15px 0 15px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
header{
    width: 100%;

    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.logotipo{
    min-width: 100px;
    max-width: 150px;
}
h1{
    margin: 0;
    margin-top: 15px;
    margin-right: 35px;

    font-size: 24px;
    font-weight: 700;
    color: #C5A059;

}
main{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    height: auto;
}
.entrada{
    display: inline;
    width: 270px;
    height: 30px;
    font-size: 16px;

    color: #7F6637;
    background-color: #FDF5E6;

    border: solid 3px #C5A059;
    border-radius: 5px;

    margin-bottom: 20px;
    
}
.btn{
    width: 270px;
    height: 50px;

    font-size: 20px;
    font-weight: 700;

    border-radius: 50px;
    border: solid 3px black;

    color: #5D4A26;
    background-color:  #E6C543;

    margin-bottom: 20px;


}

.btn:hover{
    color: whitesmoke;
    cursor: pointer;
    background-color: #CFB13C;
}

.entrega{
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 270px;
    height: 30px;
    font-size: 16px;

    color: #7F6637;
    background-color: #FDF5E6;

    border: solid 3px #C5A059;
    border-radius: 5px;

    margin-bottom: 20px;

}
.range{
    width: 250px;
    outline: none;
    border-radius: 3px;

    margin-bottom: 20px;

}
.nivel{
    margin-bottom: 20px;
    color: #7F6637;
}
.compartir{
    display: inline;
    margin: 0;
    width: 100px;
    height: 30px;

    color: aliceblue;
    background-color: #1B2A49;
}
.compartir:hover{
    background-color: #2C2C2C;
    cursor: pointer;
}
footer{
    font-size: 12px;
    padding: 20px;
    text-align: center;
    color: #7F6637;
}